.Rproj.user
.Rhistory
.RData
.Ruserdata
/data
/results/Randomsampling/
/results/Crossstudy/
/results/Crossplatform/
.Rproj
/docker/data/
/calculations/example_docker.R
/figures/Figures_files/